<div class="quote-container">
  <div class="quote-author-image">
    <%= link_to(quote) do %>
      <%= image_tag quote.author_image.url, class: 'user-author-image' %>
      <div class="after"><span>詳細</span></div>
    <% end %>
  </div>
  <div class="quote-main">
    <div class="quote-main-container">
      <div class="quote-content">
        <blockquote>
          <%= quote.content %>
          <cite>
            <%= link_to root_path(q: { author_name_eq: quote.author_name }) do %>
              <%= quote.author_name %>
            <% end %>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
