<div class="navbar" data-ks-navbar>
  <nav>
    <ul>
      <li class="navbar-title">
        <h1><%= link_to 'Quologia', root_path %></h1>
        <button role="button">=</button>
      </li>
    </ul>
    <ul>
      <% if logged_in? %>
        <li>
          <%= link_to 'ログアウト', logout_path %>
        </li>
      <% else %>
        <li><%= fa_icon_spaced 'sign-in', text: 'ログイン' %>
          <ul>
            <li>
              <%= link_to('/auth/twitter') do %>
                <%= fa_icon_spaced 'twitter-square lg', text: 'Twitter' %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
