<div class="navbar" data-ks-navbar>
  <nav>
    <ul>
      <li class="navbar-title">
        <%= link_to 'Quologia', root_path %>
        <button role="button">=</button>
      </li>
      <li>
        <%= search_form_for(@q, url: root_path, class: 'header-search-form') do |f| %>
          <%= f.search_field :content_or_author_name_or_poster_name_cont, placeholder: '検索する' %>
        <% end %>
      </li>
      <li>
        <%= link_to(about_path) do %>
          <%= fa_icon_spaced 'info-circle', text: 'About' %>
        <% end %>
      </li>
    </ul>
    <ul>
      <% if logged_in? %>
        <li>
          <%= link_to(new_quote_path) do %>
            <%= fa_icon_spaced 'plus-square', text: '名言' %>
          <% end %>
        </li>
        <li>
          <%= image_tag current_user.image_url, class: 'user-header-menu-top-icon' %>
          <span class="user-header-menu-top-text"><%= current_user.name %></span>
          <ul>
            <li>
              <%= link_to(logout_path) do %>
                <%= fa_icon_spaced 'sign-out', text: 'ログアウト' %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= fa_icon_spaced 'sign-in', text: 'ログイン' %>
          <ul>
            <li>
              <%= link_to('/auth/twitter') do %>
                <%= fa_icon_spaced 'twitter-square lg', text: 'Twitter' %>
              <% end %>
            </li>
            <li>
              <%= link_to('/auth/facebook') do %>
                <%= fa_icon_spaced 'facebook-square lg', text: 'Facebook' %>
              <% end %>
            </li>
            <li>
              <%= link_to('/auth/github') do %>
                <%= fa_icon_spaced 'github-square lg', text: 'GitHub' %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
